* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: red;
  position: absolute;
  transform-origin: center;
}

.line {
  width: 2px;
  height: 30px;
  background-color: lime;
  position: absolute;
  transform-origin: top;
}

#undo {
  position: absolute;
  bottom: 0;
}

#drop {
  position: absolute;
  bottom: 0;
  left: 100px;
}

@media print {
  body {
    print-color-adjust: exact;
  }
}
